asgiref==3.6.0
certifi==2024.2.2
cffi>=1.15.0
charset-normalizer==3.3.2
cryptography==41.0.7
Django==3.2
django-allauth==0.51.0
django-crispy-forms==1.13.0
django-embed-video==1.4.10
djangorestframework==3.14.0
django-cors-headers==4.3.1
et_xmlfile==2.0.0
idna==3.7
jwt==1.3.1
multipledispatch==1.0.0
openpyxl==3.1.5
pillow==10.3.0
psycopg2==2.9.10
pycparser==2.22
PyMySQL==1.1.0
requests==2.31.0
sqlparse==0.4.4
stripe==9.6.0
typing_extensions==4.11.0
tzdata==2024.1
urllib3==1.26.18
gunicorn==21.2.0
snowflake-connector-python==3.12.3
python-dotenv==1.0.1
pandas==2.2.3