{% load static %}
{% block left_sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu mt-0">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled mt-0" id="side-menu">

                        <li>
                            <a href="#">
                            <!-- <img src="{% static 'tool/min-logo.png' %}"  style="width: 25px; height: 20px;"> -->
                            <i data-feather="briefcase"></i>

                            <span data-key="t-dashboard"><strong>{{ user.cmp.data }}</strong></span>
                            </a>

                        </li>

                        <li>
                            <a href="{% url 'request_leave' %}">
                                <i data-feather="send"></i>
                                <span data-key="t-dashboard"><strong>Request Leave</strong></span>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#">
                                <i data-feather="layers"></i>
                                <span data-key="t-dashboard"><strong>Transformations</strong></span>
                            </a>
                        </li> -->
                        <li>
                            <a href="{% url 'my_leave_history' %}">
                                <i data-feather="database"></i>
                                <span data-key="t-dashboard"><strong>Leave History</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'holiday_list' %}">
                                <i data-feather="calendar"></i>
                                <span data-key="t-dashboard"><strong>View Holidays</strong></span>
                            </a>
                        </li>

                         {% if is_manager %}
<!--                         <li class="menu-item">-->
<!--                              <a href="{% url 'view_subordinates' %}">-->
<!--                                   <span class="menu-icon">🎉</span>-->
<!--                               Manage Leave Requests-->
<!--                             </a>-->
<!--                          </li>-->
                        <li>
                            <a href="{% url 'manager_leave_requests' %}">
                                <i data-feather="archive"></i>
                                <span data-key="t-dashboard"><strong>Manage Leave Requests</strong></span>
                            </a>
                        </li>
                         {% endif %}

                         {% if is_manager %}
<!--            <li class="menu-item">-->
<!--                <a href="{% url 'manager_leave_requests' %}">-->
<!--                    <span class="menu-icon">👥</span>-->
<!--                    View Suboordinates-->
<!--                </a>-->
<!--            </li>-->
                        <li>
                            <a href="{% url 'view_subordinates' %}">
                                <i data-feather="monitor"></i>
                                <span data-key="t-dashboard"><strong>View Suboordinates</strong></span>
                            </a>
                        </li>
            {% endif %}

                        <li>
                            <a href="javascript: void(0);" class="has-arrow">
                                <i data-feather="settings"></i>
                                <span data-key="t-ecommerce"><strong>Account settings</strong></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false">
                                <li><a href="" key="t-products">Users and Permissions</a></li>
                                <li><a href="" data-key="t-product-detail">Billing and Usage</a></li>

                            </ul>
                        </li>

                        <li>
                            <a href="#">
                                <i data-feather="message-square"></i>
                                <span data-key="t-chat"><strong>Alerts</strong></span>
                            </a>
                        </li>



                        <div class="card sidebar-alert shadow-none text-center mx-4 mb-0 mt-4">
                            <div class="card-body">
                                <img src="{% static 'images/giftbox.png' %}" alt="">
                                <div class="mt-4">
                                    <h5 class="alertcard-title font-size-16">Unlock Unlimited Features</h5>
                                    <p class="font-size-13 text-dark">Take your experience to the next level. Upgrade now for uninterrupted access and exclusive benefits.</p>
                                    <a href="" class="btn btn-primary btn-rounded mt-2">Choose Your Plan</a>
                                </div>
                            </div>
                        </div>

                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock left_sidebar %}