{% extends 'admin_partials/admin_base.html' %}
<!-- {% block body_class %}template-body-basic{% endblock %} -->
{% block styles %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<style>

    .container {
        max-width: 1000px;
        margin: 40px auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .card {
        width: 100%;
        max-width: 48%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .section-heading {
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 10px;
        border-bottom: 2px solid #6a85b6;
        padding-bottom: 5px;
    }
    .loading-spinner {
        display: none;
        margin-top: 20px;
    }
    .employee-list {
        margin-top: 20px;
        overflow: auto;
        
    }
    .employee-list table {
        max-width: 100%;
        table-layout: fixed; 
        border-collapse: collapse;
    }

    .employee-list th:nth-child(1),
    .employee-list td:nth-child(1) {
        width: 10%;  /* For "#" column */
    }

    .employee-list th:nth-child(2),
    .employee-list td:nth-child(2) {
        width: 30%;  /* Employee ID */
    }

    .employee-list th:nth-child(3),
    .employee-list td:nth-child(3) {
        width: 60%;  /* Name */
    }

    .message {
        margin-top: 20px;
        font-weight: bold;
        color: #28a745;
    }

    table {
    width: 100%;
    border-collapse: collapse;
    }

    table th, table td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }



    #spinner-overlay {
      display: none !important;
  }
    @media (max-width: 768px) {
        .card {
            max-width: 100%;
        }
    }
</style>
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header text-center text-white">
            <div class="card-title mt-2"><h4>Upload Holidays via Excel</h4></div>
        </div>
        <div class="card-body">
            <form id="" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center justify-content-center">
                {% csrf_token %}
                <div class="form-group w-100 text-center">
                    <label for="excel_file" class="required">Upload Excel File</label>
                    <input type="file" name="excel_file" class="form-control-file mt-2" accept=".xlsx, .xls" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">
                    <i class="fas fa-file-upload"></i> Upload
                </button>
            </form>
            <div class="loading-spinner">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="message" id="message"></div>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center text-white">
            <div class="card-title mt-2"><h4>Uploaded Holidays</h4></div>
        </div>
        <div class="card-body">
            <div class="employee-list" id="employeeList">
                {% if success_names %}
                    <table>
                        <tr>
                            <td style="width: 60%;">Name</td>
                            <td style="width: 40%;">Type</td>
                        </tr>
                        {% for i in success_names %}
                            <tr>
                                <td>{{i.name}}</td>
                                <td>{{i.type}}</td>
                            </tr>
                        {%endfor%}
                    </table>
                {%endif%}
            </div>
        </div>
    </div>
</div>



{% endblock %}