{% load static %}
{% block admin_left-sidebar %}
        <!-- ========== Left Sidebar Start ========== -->
        <div class="vertical-menu mt-0">

            <div data-simplebar class="h-100">

                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <!-- Left Menu Start -->
                    <ul class="metismenu list-unstyled mt-0" id="side-menu">

                        
                        <li>
                            <a href="{% url 'admin_index' %}">
                                <i data-feather="layers"></i>
                                <span data-key="t-dashboard"><strong>Dashboard</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'add_employee' %}">
                                <i data-feather="user-plus"></i>
                                <span data-key="t-dashboard"><strong>Add Employees</strong></span>
                            </a>
                        </li>
                        
                        <li>
                            <a href="{% url 'employee_list' %}">
                                <i data-feather="monitor"></i>
                                <span data-key="t-dashboard"><strong>View Employees</strong></span>
                            </a>
                        </li>

                       <li>
                            <a href="{% url 'deleted_employees' %}">
                                <i data-feather="trash-2"></i>
                                <span data-key="t-dashboard"><strong>Deleted Employees</strong></span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'add_holidays' %}">
                                <i data-feather="plus-circle"></i>
                                <span data-key="t-dashboard"><strong>Add Holidays</strong></span>
                            </a>
                        </li>
                         <li>
                            <a href="{% url 'leave_request_display' %}">
                                <i data-feather="archive"></i>
                                <span data-key="t-dashboard"><strong>Manage Leaves</strong></span>
                            </a>
                        </li>

                        <li>
                            <a href="{% url 'setup_list' %}">
                                <i data-feather="tool"></i>
                                <span><strong>Set Up table</strong></span>
                            </a>
                        </li>
                        <li >
                            <a href="javascript: void(0);" class="has-arrow" style="width: 300px;">
                                <i data-feather="bar-chart-2"></i>
                                <span data-key="t-reports"><strong>Reports</strong></span>
                            </a>
                            <ul class="sub-menu" aria-expanded="false" style="width: 230px;">
                                <li>
                                    <a href="{% url 'employee_leaves' %}">
                                        <i data-feather="file-text"></i>
                                        <span><strong>Employee Leaves</strong></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'employee-bank' %}">
                                        <i data-feather="dollar-sign"></i>
                                        <span><strong>Employee Bank Details</strong></span>
                                    </a>
                                </li>
                            </ul>
                        </li>



                        

                </div>
                <!-- Sidebar -->
            </div>
        </div>
        <!-- Left Sidebar End -->
{% endblock admin_left-sidebar %}